@implements IDisposable

@if(answer3!=null && answer3==0)
{
    <h2 id="game-title">Find all the sixes</h2>
    <br />

    @foreach (var row in Enumerable.Range(0, totalNumbers / columns))
    {
        <div class="sixnine">

            @foreach (var i in Enumerable.Range(row * columns, columns))
            {
                @if (i < totalNumbers)
                {
                    <span @onclick="(() => IsSix(i))">@((answer1 == i || answer2 == i) ? six : nine)</span>
                }
            }
        </div>
    }
}
else if (answer3 != null && answer3 == 1)
{
    <h2 id="game-title">Find all the nines</h2>
    <br />

    @foreach (var row in Enumerable.Range(0, totalNumbers / columns))
    {
        <div class="sixnine">
            @foreach (var i in Enumerable.Range(row * columns, columns))
            {
                @if (i < totalNumbers)
                {
                    <span @onclick="(() => IsSix(i))">@((answer1 == i || answer2 == i) ? nine : six)</span>
                }
            }
        </div>
    }
}
else{}

<div class="sixnine">@status</div>
@code {
    private int columns = 8; // Number of columns per row
    private int totalNumbers = 32; // Total number of elements


    [Parameter] public EventCallback<MainDataModel> mainDataModelChanged { get; set; }
    [Parameter] public EventCallback<LeechSendModel> lsmChanged { get; set; }
    [Parameter]
    public int answer1 { get; set; }
    [Parameter]
    public int answer2 { get; set; }
    [Parameter]
    public int? answer3 { get; set; } = 2;
    [Parameter]
    public int playernumber { get; set; }
    [Parameter]
    public int playeriam { get; set; }
    [Parameter]
    public MainDataModel mainDataModel { get; set; }
    [Parameter]
    public LeechSendModel lsm { get; set; }

    string six = " 6 ";
    string nine = " 9 ";

    public string status;
    public int rightanswer = 0;
    public int wronganswer = 0;

    public async Task IsSix(int x)
    {
        if (x == answer1||x==answer2)
        {
            //currently updating from db make it where if a matches a number in the array it changes to 99
            if (x == answer1)
            {
                answer1 = 99;
                if (playeriam == 1)
                {
                    mainDataModel.P1GameVar1 = 99;
                }
                else
                {
                    lsm.GameVar1 = 99;
                }
            }
            if (x == answer2)
            {
                answer2 = 99;
                if(playeriam == 1)
                {
                    mainDataModel.P1GameVar2 = 99;
                }
                else
                {
                    lsm.GameVar2 = 99;
                }
            }
            if (rightanswer == 1)
            {
                status = "youwin!";
                await Task.Delay(1000);
                mainDataModel.FinishedGame(true, playeriam, mainDataModel, lsm);
            }
            rightanswer++;
        }
        else if (wronganswer >= 1)
        {
            status = "youlose";
            await Task.Delay(1000);
            mainDataModel.FinishedGame(false,playeriam,mainDataModel,lsm);
        }
        else
        {
            wronganswer++;
        }
    }
    public void Dispose()
    {
    }
}
