@page "/"

@using SpawnDev.BlazorJS.JSObjects;
@using Newtonsoft.Json;
@using SpawnDev.BlazorJS.JSObjects.WebRTC;

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<a href="lobbypage">lobbypage</a>

@code {
   
}