
<h3 style="color:black">Lobby @lobby</h3>
@if (playersinlobby < 4)
{
    <div style="color:lawngreen;font-size:x-large">@playersinlobby / 4</div>
}
else
{
    <div style="color:red;font-size:x-large">@playersinlobby / 4</div>
    <div style="color:red;font-size:x-large">Full</div>
}

@code {

    [Parameter]
    public int lobby { get; set; }


    [Parameter]
    public int playersinlobby { get; set; }

    

}
